.vscode 
__pycache__
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/harshaddorge07-design/Training_python_beginner-.git
git push -u origin main